<script setup lang="ts">
import { type Product } from '@/types/POS/Product'

import ProductCrad from './ProductCrad.vue';
const props = defineProps<{
    products: Product[]
}>()
const emit = defineEmits<{
    selectedProduct: [Product]
}>()
const selected = function(p:Product){
    emit('selectedProduct',p)
}
</script>
<template>
    <div style="height: 785px; overflow-y: auto;">
        <v-container>
        <v-row>
            <v-col cols="12" sm="4" md="5" lg="4" xl="3" v-for="item of products" :key="item.id">
                <ProductCrad :product="item" @selected-product="selected"/>
            </v-col>
        </v-row>
    </v-container>
    </div>
</template>