<script setup lang="ts">
import type { BuyMaterial } from '@/types/Stock/BuyMaterial'
const props = defineProps<{
    buyMat: BuyMaterial
}>()
const emit = defineEmits<{
    selectedMaterial: [BuyMaterial]
}>()

const selected = function () {
    console.log('BuyMaterialCard' + props.buyMat)
    emit('selectedMaterial', props.buyMat)
}
</script>
<template>
    <v-sheet width="170" height="180" elevation="3" @click="selected">
        <v-img :src="`./img/material/buyMat${buyMat.id}.png`" height="120" cover></v-img>
        <div style="text-align: center;">{{ buyMat.name }} {{ buyMat.price }} บาท </div>
    </v-sheet>
</template>