<script setup lang="ts">
import { useReceiptStore } from '@/stores/POS';
import { useMemberStore } from '@/stores/member'
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
function onClick() {
  memberStore.searchMembers(receiptStore.tel)
  receiptStore.calReceipt()
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="2" class="pa-5" > Member: </v-col>
      <v-col cols="5">
        <v-text-field
          v-model="receiptStore.tel"
          density="compact"
          height="10px"
          variant="solo"
          label="Search Member"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          @click:append-inner="onClick"
          @keyup.enter="onClick"
        ></v-text-field>
      </v-col>
      <v-col cols="5" class="pa-5 text-center"
        >{{ memberStore.currentMember ? memberStore.currentMember?.name : 'ไม่พบสมาชิก' }}
      </v-col>
    </v-row>
  </v-container>
</template>
