<script setup lang="ts">
import { useReceiptStore } from '@/stores/POS'
const receiptStore = useReceiptStore()
</script>
<template>
  <v-dialog v-model="receiptStore.receiptDialog" width="auto">
    <v-card>
      <v-card-title class="text-h5" style="text-align: center"> Receipt </v-card-title>
      <v-card-text>
        <v-img :src="`./img/cafe/LOGO.png`" height="250" cover></v-img>
        Date: {{ receiptStore.receipt.createDate.getDay()+7}}/{{receiptStore.receipt.createDate.getMonth()+1 }}/{{receiptStore.receipt.createDate.getFullYear() }}
        <br />
        ID: {{ receiptStore.receipt.user?.id }} <br />
        พนักงาน: {{ receiptStore.receipt.user?.fullName }}
        <v-table>
          <thead>
            <tr>
              <th>No.</th>
              <th>Item Name</th>
              <th>QTY</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
            <tr>
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.price * item.unit }} บาท</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>ส่วนลด:</td>
              <td></td>
              <td></td>
              <td>{{ receiptStore.receipt.discount }} บาท</td>
            </tr>
            <tr>
              <td>ยอดรวม:</td>
              <td></td>
              <td></td>
              <td>{{ receiptStore.receipt.total }} บาท</td>
            </tr>
            <tr>
              <td>เงิน:</td>
              <td></td>
              <td></td>
              <td>{{ receiptStore.receipt.receivedAmount }} บาท</td>
            </tr>
            <tr>
              <td>เงินทอน:</td>
              <td></td>
              <td></td>
              <td>{{ receiptStore.receipt.change.toFixed(2) }} บาท</td>
            </tr>
          </tbody>
        </v-table>
        <p style="text-align: center">
          {{ receiptStore.selectedPayment }}<br />
          ขอบคุณสำหรับการสั่งซื้อ
        </p>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green-darken-1" variant="text" @click="receiptStore.receiptDialog = false">
          ยกเลิก
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
                receiptStore.paymentCash = false
                receiptStore.receiptDialog = false
                receiptStore.paymentQR = false
                receiptStore.paymentCredit = false
                receiptStore.clearReceipt()
            }
          "
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
