<script setup lang="ts">
// ????????????????????????????????????????????????????
import type { WorkInfo } from '@/types/WorkInfo'
import type { User } from '@/types/other/User'
import { nextTick, ref } from 'vue'

const tab = ref(1)
// const selected = (p: Product) => {
//   console.log('ProductView: ' + p)

// }

const workInfo = ref<WorkInfo[]>([])

//// Dialog Check In
let editedIndex = -1
const dialog = ref(false)
const form = ref(false)
function onSubmit() {}
const initilWork: WorkInfo = {
  id: -1,
  email: ''
}
const editedWork = ref<WorkInfo>(JSON.parse(JSON.stringify(initilWork)))
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedWork.value = Object.assign({}, initilWork)
    editedIndex = -1
  })
}
async function save() {
  console.log(editedIndex)
  if (!form.value) return
  if (editedIndex > -1) {
    Object.assign(workInfo.value[editedIndex], editedWork.value)
  }
  closeDialog()
}
///////
</script>

<template>
  <v-main
    class="d-flex align-center justify-center"
    style="min-height: 400px; min-width: 300px;"
  >
    <v-container style="background-color: black">
      <!-- Your content goes here -->
      <v-row style="background-color: #08342c">
        <h1 style="font-size: 40pt">Check Work Attendance</h1>
      </v-row>
      <v-row style="background-color: red">
        <v-col cols="12" md="12" style="background-color: burlywood">
          <v-sheet min-width="600" max-width="1800" height="800" elevation="6">
            <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
              <v-tab :value="1" style="font-size: 30px">Check-In/Check-Out</v-tab>
              <!-- <v-tab :value="2" style="font-size: 30px">Work-Time-History</v-tab> -->
            </v-tabs>
            <!-- ///////Table/////// -->
            <v-data-table fixed-header height="300px">
              <!-- Head -->
              <thead>
                <tr>
                  <th class="text-left" style="width: 1px; background-color: red">User</th>
                  <th class="text-left" style="width: 100px; background-color: aquamarine">
                    Time-In
                  </th>
                  <th class="text-left" style="width: 100px; background-color: aquamarine">
                    Time-Out
                  </th>
                  <th class="text-left" style="width: 60px; background-color: aquamarine">
                    Total Time
                  </th>
                  <th class="text-left" style="width: 20px; background-color: yellow">
                    <v-dialog v-model="dialog" persistent width="1024">
                      <template v-slot:activator="{ props }">
                        <v-btn color="primary" v-bind="props"> Check In </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="text-h5">User Check In</span>
                        </v-card-title>
                        <v-card-text>
                          <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                            <v-container>
                              <v-row>
                                <v-col cols="12" sm="12" md="4">
                                  <v-text-field
                                    v-model="editedWork.email"
                                    :rules="[(v) => !!v || 'Field is required']"
                                    class="mb-2"
                                    clearable
                                    label="Email"
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedWork.id"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Password"
                          placeholder="Enter your password"
                        ></v-text-field>
                      </v-col>

                              </v-row>
                            </v-container>
                          </v-form>
                          <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue-darken-1" variant="text" @click="closeDialog()">
                            Close
                          </v-btn>
                          <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in workInfo" :key="item.id">
                  <td>{{ item.id }}</td>
                  <td>x</td>
                  <td>x</td>
                  <td>x</td>
                  <td>x</td>
                </tr>
                <tr>
                  <td>user1</td>
                  <td>17:11</td>
                  <td>17:12</td>
                  <td>0</td>
                  <button>Check Out</button>
                  
                </tr>
                <tr>
                  <td>user2</td>
                  <td>17:11</td>
                  <td>19:30</td>
                  <td>2</td>
                  <button>Check Out</button>
                </tr>
                <tr>
                  <td>user1</td>
                  <td>09:44</td>
                  <td>10:44</td>
                  <td>1</td>
                  <button color="red">Check Out</button>
                </tr>
              </tbody>
            </v-data-table>
            <!-- ///////////////// -->

            <!-- <v-table fixed-header height="300px" style="background-color: aquamarine;">
                <thead>
                  <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">Calories</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in desserts" :key="item.name">
                    <td>{{ item.name }}</td>
                    <td>{{ item.calories }}</td>
                  </tr>
                </tbody>
              </v-table> -->

            <!-- ///////////////////////////////// -->

            <!-- <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="products1" @selectedProduct="selected"> </ProductList
            ></v-window-item>

            <v-window-item :value="2">
              <ProductList :products="products2" @selectedProduct="selected"> </ProductList
            ></v-window-item>

            <v-window-item :value="3">
              <ProductList :products="products3" @selectedProduct="selected">
              </ProductList></v-window-item></v-window
        > -->
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>
