<script setup lang="ts">
import { useAnthStore } from '@/stores/anth';
import { inject, type Ref } from 'vue';

const rail = inject<Ref<boolean>>('rail')
const anthStone = useAnthStore()
</script>
<template>
    <v-app-bar
        color="rgb(5, 49, 41)"
      >
        <template v-slot:prepend>
          <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>
        </template>

        <v-app-bar-title>D-COFFEE</v-app-bar-title>

        <v-spacer></v-spacer>

        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
          :title="anthStone.createUser.fullName"
          nav
        >
        </v-list-item>

        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </v-app-bar>
</template>