<script setup lang="ts">
import { inject, type Ref } from 'vue'
import {useLoginStore} from "@/stores/login"

const loginStore = useLoginStore();
const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')

const logout = () => {
  loginStore.logout();
}
</script>
<template>
  <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false">
    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-home"
        title="Home"
        value="home"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-shopping"
        title="POS"
        value="pos"
        :to="{ name: 'pos' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-cash"
        title="Payrolls"
        value="payrolls"
        :to="{ name: 'payrolls' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-store-plus"
        title="Buy Material"
        value="buy-material"
        :to="{ name: 'buy-material' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-check"
        title="CheckStock"
        value="checkstock"
        :to="{ name: 'checkstock' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-calendar-arrow-right"
        title="Check-In/Check-Out"
        value="checkwork"
        :to="{ name: 'checkwork' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-information"
        title="About"
        value="about"
        :to="{ name: 'about' }"
      ></v-list-item>
      <v-list-item prepend-icon="mdi-logout" title="Logout" @click="logout"></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
