<script setup lang="ts">
import { ref, provide } from 'vue'
import { RouterLink, RouterView } from 'vue-router'
import MainAppBar from './components/MainAppBar.vue'
import MainMenu from './components/MainMenu.vue'
import LoginInView from './views/LoginInView.vue'
import { computed,onMounted } from 'vue'
import {useLoginStore} from "@/stores/login"

const loginStore = useLoginStore();
const rail = ref(true)
const drawer =  ref(true)

provide('rail',rail)
provide('drawer',drawer)


onMounted(() => {
  loginStore.loadData();
})
</script>

<template>
  <LoginInView v-if="!loginStore.isLogin"/>
  <v-layout class="rounded rounded-md" v-if="loginStore.isLogin">
    <MainAppBar/>
    <MainMenu/>
    <v-main class="align-center justify-center" style="min-height: 300px">
      <RouterView />
    </v-main>
  </v-layout>
</template>

<style scoped></style>
